<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @nutrition.category %>
</p>

<p>
  <strong>Foodname:</strong>
  <%= @nutrition.foodname %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @nutrition.weight %>
</p>

<p>
  <strong>Edible:</strong>
  <%= @nutrition.edible %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @nutrition.energy %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @nutrition.protein %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @nutrition.fat %>
</p>

<p>
  <strong>Cho:</strong>
  <%= @nutrition.cho %>
</p>

<p>
  <strong>Dietaryfiber:</strong>
  <%= @nutrition.dietaryfiber %>
</p>

<p>
  <strong>Ash:</strong>
  <%= @nutrition.ash %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @nutrition.cholesterol %>
</p>

<p>
  <strong>Vitamina:</strong>
  <%= @nutrition.vitaminA %>
</p>

<p>
  <strong>Retinol:</strong>
  <%= @nutrition.retinol %>
</p>

<p>
  <strong>Vitamine:</strong>
  <%= @nutrition.vitaminE %>
</p>

<p>
  <strong>Vitaminb1:</strong>
  <%= @nutrition.vitaminB1 %>
</p>

<p>
  <strong>Vitaminb2:</strong>
  <%= @nutrition.vitaminB2 %>
</p>

<p>
  <strong>Vitaminb3:</strong>
  <%= @nutrition.vitaminB3 %>
</p>

<p>
  <strong>Calcium:</strong>
  <%= @nutrition.calcium %>
</p>

<p>
  <strong>Phoshorous:</strong>
  <%= @nutrition.phoshorous %>
</p>

<p>
  <strong>Potassium:</strong>
  <%= @nutrition.potassium %>
</p>

<p>
  <strong>Sodium:</strong>
  <%= @nutrition.sodium %>
</p>

<p>
  <strong>Magnesium:</strong>
  <%= @nutrition.magnesium %>
</p>

<p>
  <strong>Iron:</strong>
  <%= @nutrition.iron %>
</p>

<p>
  <strong>Zinc:</strong>
  <%= @nutrition.zinc %>
</p>

<p>
  <strong>Selenium:</strong>
  <%= @nutrition.selenium %>
</p>

<p>
  <strong>Copper:</strong>
  <%= @nutrition.copper %>
</p>

<p>
  <strong>Manganese:</strong>
  <%= @nutrition.manganese %>
</p>

<p>
  <strong>Food:</strong>
  <%= @nutrition.food_id %>
</p>

<%= link_to 'Edit', edit_nutrition_path(@nutrition),class:"btn2" %> |
<%= link_to 'Back', nutritions_path ,class:"btn2"%>
