
<%=render partial: "layouts/head"%>
<!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="http://dakotapethospital.com/clients/14546/images/slideshows/29628/banner%204%20edited.jpg" alt="" />
          <!-- Heading -->
          <h2 class="brown">Nutrient Report</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Reserve Seats</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      <br>
      <!-- Banner End -->
<div class="container">
  <div class ="row">
    <div class="table-responsive col-md-5 col-md-offset-1">
                    <table class="table table-bordered">
                      
                      <tbody>
                        <tr><td><strong><center>Ingredients Composition</center></strong></td></tr>
                        <tr>
                        <tr>
                          <td>Total Weight </td>
                          <td><%='%.2f' % @Totalweight %> g </td>
                        </tr>
                          <td>Meat</td>
                          <td><%='%.2f' % (@Meatproportion + @Poultryproportion + @Fishshellfishproportion )  %> % </td>
                        </tr>
                        <tr>
                          <td>Cereal and Tubers</td>
                          <td><%='%.2f' % ((@Cerealproportion + @Tubersproportion) * @Totalweight) %> % </td>
                        </tr>
                        <tr>
                          <td>Vegetable </td>
                          <td><%='%.2f' % ((@Tubersproportion + @Rootvegetablesproportion + @Leguminousvegetablesproportion + @Solanaceousvegetablesproportion + @Leafyflowervegetablesproportion + @Aquaticproportion) * @Totalweight) %> % </td>
                        </tr>
                        <tr>
                          <td>Oil </td>
                          <td><%='%.2f' % (@Seedfatoilproportion * @Totalweight) %> % </td>
                        </tr>


                        <tr><td><strong><center>Nutrient Analysis</center></strong></td></tr>
                        <tr>
                          <td>Metabolic Energy from Recipe </td>
                          <td><%='%.2f' % @A_ME_result %> KCal/100g </td>
                        </tr>
                        <tr>
                          <td>Estimated Pet's Daily Metabolic Energy </td>
                          <td><%='%.2f' % @me_result %> KCal/100g </td>
                        </tr>
                        <tr>
                          <td>Recommaned Intake for One Meal </td>
                          <td> < <%='%.2f' % (@me_result / 10 * @A_ME_result / 100) %> g </td>
                        </tr>
                        <tr>
                          <td>Protein </td>
                          <td><%= '%.2f' % @Protein %> g/100g</td>
                        </tr>
                        <tr>
                          <td>Fat </td>
                          <td> <%= '%.2f' % @Fat %> g/100g </td>
                        </tr>
                        <tr>
                          <td>Carbohydrate </td>
                          <td> <%='%.2f' % (@CHO-@Dietaryfiber) %> g/100g </td>
                        </tr>                                                                             
                      </tbody>
                    </table></div>
      <div class="table-responsive col-md-5 ">
        <table class="table table-bordered">
                  <tbody>
                      <tr><td><strong><center>Calorie Proportion</center></strong></td></tr>           
                        <tr>
                          <td>Total Calorie </td>
                          <td><%='%.2f' % (@Totalweight * @Energy) %> KCal </td>
                        </tr>
                        <tr>
                          <td>Energy Density </td>
                          <td><%='%.2f' % @Energy %> KCal/100g </td>
                        </tr>
                        <tr>
                          <td>Protein</td>
                          <td><%= '%.2f' %(@Protein*4.0/@Energy*100.00) %> % </td>
                        </tr>
                        <tr>
                          <td>Fat</td>
                          <td><%= '%.2f' %(@Fat*9.0/@Energy*100.0)%> % </td>
                        </tr>
                        <tr>
                          <td>Carbohydrate </td>
                          <td><%='%.2f' % (((@CHO-@Dietaryfiber)*4.0+@Dietaryfiber*2.0)/@Energy*100.0) %> % </td>
                        </tr>



                         <tr><td><strong><center>Nutrition Composition</center></strong></td></tr>                   
                        <tr>
                          <td>Mositure</td>
                          <td><%= '%.2f' % (100-@Protein-@Fat-@CHO-@Ash) %> % </td>
                        </tr>
                        <tr>
                          <td>Protein</td>
                          <td><%= '%.2f' % @Protein %> % </td>
                        </tr>
                        <tr>
                          <td>Fat</td>
                          <td><%= '%.2f' % @Fat %> % </td>
                        </tr>
                        <tr>
                          <td>Carbohydrate</td>
                          <td><%= '%.2f' % (@CHO - @Dietaryfiber) %> % </td>
                        </tr>
                        <tr>
                          <td>Dietary Fiber </td>
                          <td><%='%.2f' % @Dietaryfiber %> % </td>
                        </tr>
                        <tr>
                          <td>Ash </td>
                          <td><%='%.2f' % @Ash %> % </td>
                        </tr>                         
                        
                      </tbody></table></div></div></div>


        <div align="center"><h1>Nutrients Comparison with Recommended</h1></div>
        <div class='text-center'>
<div style="width:1000px" id="ctn3" class='col-md-1 col-md-offset-1'><p>
  
 <p>
  <strong>Actual Daily ME  (KCal):</strong>
  <%='%.2f' % @A_ME_result %>
  </p>
 
<p>
  <strong>Vitamin B1(mg):</strong>
  <%='%.2f' % (@Vitamin_B1) %>
  <strong>Recommended Vitamin B1(mg):</strong>
  <%='%.2f' % (@A_ME_vitamin_b1) %>
  </p>
<p>
  <strong>Vitamin E(mg):</strong>
  <%='%.2f' % (@Vitamin_E) %>
  <strong>Recommended Vitamin E(mg):</strong>
  <%='%.2f' % (@A_ME_vitamin_e) %>
  </p>
<p>
  <strong>Calcium(mg):</strong>
  <%='%.2f' % (@Calcium) %>
  <strong>Recommended Calcium(mg):</strong>
  <%='%.2f' % (@A_ME_calcium) %>
  </p>
<p>
  <strong>Phosphorous(mg):</strong>
  <%='%.2f' % (@Phosphorous) %>
  <strong>Recommended Phosphorous(mg):</strong>
  <%='%.2f' % (@A_ME_phosphorous) %>
  </p>
<p>
  <strong>Potassium(mg):</strong>
  <%='%.2f' % (@Potassium) %>
  <strong>Recommended Potassium(mg):</strong>
  <%='%.2f' % (@A_ME_potassium) %>
  </p>
<p>
  <strong>Sodium(mg):</strong>
  <%='%.2f' % (@Sodium) %>
  <strong>Recommended Sodium(mg):</strong>
  <%='%.2f' % (@A_ME_sodium) %>
  </p>
<p>
  <strong>Magnesium(mg):</strong>
  <%='%.2f' % (@Magnesium) %>
  <strong>Recommended Magnesium(mg):</strong>
  <%='%.2f' % (@A_ME_magnesium) %>
  </p>
        
<%
=begin %>           
          <p>
            <strong>:</strong>
            
            </p>
          <p>
            <strong>CHO  (percent):</strong>
            <%='%.2f' % @CHO %>
            </p>
          <p>
            <strong>Dietary Fiber  (percent):</strong>
            <%='%.2f' % @Dietaryfiber %>
            </p>
          <p>
            <strong>Ash  (percent):</strong>
            <%='%.2f' % @Ash %>
            </p>
          <p>
            <strong>Moisture  (percent):</strong>
            <%='%.2f' % (100-@Protein-@Fat-@CHO-@Ash) %>
            </p>
          <p>
            <h1><strong>Calorie Proportion</strong></h1></p>
           <p>
            <strong>Protein (percent):</strong>
            <%= '%.2f' %(@Protein*4.0/@Energy*100.00) %>
            </p>
           <p>
            <strong>Fat(percent):</strong>
            <%= '%.2f' %(@Fat*9.0/@Energy*100.0)%>
            </p>
           <p>
            <strong>Carbohydrate  (percent):</strong>
            <%='%.2f' % (((@CHO-@Dietaryfiber)*4.0+@Dietaryfiber*2.0)/@Energy*100.0) %>
            </p>


          <p>
            <h1><strong>Ingredient Proportions (percent)</strong></h1></p>
           
           <p>
            <strong>Meat And Meat Products Proportion (percent):</strong>
            <%= '%.2f' %@Meatproportion%>
            </p>
          <p>
            <strong>Poultry And Poultry Products Proportion (percent):</strong>
            <%= '%.2f' % @Poultryproportion%>
            </p>
          <p>
            <strong>Milk And Eggs Proportion (percent):</strong>
            <%= '%.2f' % @Milkeggproportion%>
            </p>
          <p>
            <strong>Fish Shelfish And Mollusc Proportion (percent):</strong>
            <%= '%.2f' % @Fishshellfishproportion%>
            </p>
          <p>
            <strong>Seed Fat And Oils Proportion (percent):</strong>
            <%= '%.2f' % @Seedfatoilproportion%>
            </p>
          <p>
            <strong>Condiments Proportion (percent):</strong>
            <%= '%.2f' % @Condimentsproportion%>
            </p>
          <p>
            <strong>Cereal And Cereal Products Proportion (percent):</strong>
            <%= '%.2f' % @Cerealproportion%>
            </p>

          <p>
            <strong>Tubers Starches And Products Proportion (percent):</strong>
            <%= '%.2f' % @Tubersproportion%>
            </p>
          <p>
            <strong>Root Vegetables Proportion (percent):</strong>
            <%= '%.2f' % @Rootvegetablesproportion%>
            </p>
          <p>
            <strong>Leguminous Vegetables And Legume Products Proportion (percent):</strong>
            <%= '%.2f' % @Leguminousvegetablesproportion%>
            </p>

          <p>
            <strong>Solanaceous Melon And Fruit Vegetables Proportion (percent):</strong>
            <%= '%.2f' % @Solanaceousvegetablesproportion%>
            </p>
          <p>
            <strong>Leafy Flower Vegetables Proportion (percent):</strong>
            <%= '%.2f' % @Leafyflowervegetablesproportion%>
            </p>

          <p>
            <strong>Aquatic And Tuber Vegetable Proportion (percent):</strong>
            <%= '%.2f' % @Aquaticproportion%>
            </p>

          <p>
            <strong>Fungi And Algae Proportion (percent):</strong>
            <%= '%.2f' % @Fungiproportion%>
            </p>

</table><div><div>
<%
=end %>


 

<%
=begin %>
<p>
 <p>
  <strong>Protein (percent):</strong>
  <%= '%.2f' %@Protein %>
  </p>
 <p>
  <strong>Fat (percent):</strong>
  <%= '%.2f' %@Fat %>
  </p>
 
<p>
  <strong>NFE  (percent):</strong>
  <%='%.2f' % (@CHO-@Dietaryfiber) %>
  </p>
<p>
  <strong>CHO  (percent):</strong>
  <%='%.2f' % @CHO %>
  </p>
<p>
  <strong>Dietary Fiber  (percent):</strong>
  <%='%.2f' % @Dietaryfiber %>
  </p>
<p>
  <strong>Ash  (percent):</strong>
  <%='%.2f' % @Ash %>
  </p>
<p>
  <strong>Moisture  (percent):</strong>
  <%='%.2f' % (100-@Protein-@Fat-@CHO-@Ash) %>
  </p>
<p>
  <h1><strong>Calorie Proportion</strong></h1></p>
 <p>
  <strong>Protein (percent):</strong>
  <%= '%.2f' %(@Protein*4.0/@Energy*100.00) %>
  </p>
 <p>
  <strong>Fat(percent):</strong>
  <%= '%.2f' %(@Fat*9.0/@Energy*100.0)%>
  </p>
 <p>
  <strong>Carbohydrate  (percent):</strong>
  <%='%.2f' % (((@CHO-@Dietaryfiber)*4.0+@Dietaryfiber*2.0)/@Energy*100.0) %>
  </p>


<p>
  <h1><strong>Ingredient Proportions (percent)</strong></h1></p>
 
 <p>
  <strong>Meat And Meat Products Proportion (percent):</strong>
  <%= '%.2f' %@Meatproportion%>
  </p>
<p>
  <strong>Poultry And Poultry Products Proportion (percent):</strong>
  <%= '%.2f' % @Poultryproportion%>
  </p>
<p>
  <strong>Milk And Eggs Proportion (percent):</strong>
  <%= '%.2f' % @Milkeggproportion%>
  </p>
<p>
  <strong>Fish Shelfish And Mollusc Proportion (percent):</strong>
  <%= '%.2f' % @Fishshellfishproportion%>
  </p>
<p>
  <strong>Seed Fat And Oils Proportion (percent):</strong>
  <%= '%.2f' % @Seedfatoilproportion%>
  </p>
<p>
  <strong>Condiments Proportion (percent):</strong>
  <%= '%.2f' % @Condimentsproportion%>
  </p>
<p>
  <strong>Cereal And Cereal Products Proportion (percent):</strong>
  <%= '%.2f' % @Cerealproportion%>
  </p>

<p>
  <strong>Tubers Starches And Products Proportion (percent):</strong>
  <%= '%.2f' % @Tubersproportion%>
  </p>
<p>
  <strong>Root Vegetables Proportion (percent):</strong>
  <%= '%.2f' % @Rootvegetablesproportion%>
  </p>
<p>
  <strong>Leguminous Vegetables And Legume Products Proportion (percent):</strong>
  <%= '%.2f' % @Leguminousvegetablesproportion%>
  </p>

<p>
  <strong>Solanaceous Melon And Fruit Vegetables Proportion (percent):</strong>
  <%= '%.2f' % @Solanaceousvegetablesproportion%>
  </p>
<p>
  <strong>Leafy Flower Vegetables Proportion (percent):</strong>
  <%= '%.2f' % @Leafyflowervegetablesproportion%>
  </p>

<p>
  <strong>Aquatic And Tuber Vegetable Proportion (percent):</strong>
  <%= '%.2f' % @Aquaticproportion%>
  </p>

<p>
  <strong>Fungi And Algae Proportion (percent):</strong>
  <%= '%.2f' % @Fungiproportion%>
  </p>
<%
=end %>

















<br>

<div align="center"><a href="http://localhost:3000/foods" class="btn2">Back </a></div>

</div>


</div></div>
<br><br>

<%= render partial: "layouts/foot"%>
