<%=render partial: "layouts/head"%>

      <!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="http://dakotapethospital.com/clients/14546/images/slideshows/29628/banner%204%20edited.jpg" alt="" />
          <!-- Heading -->
          <h2 class="brown">Foods List</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Reserve Seats</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      <br>
      <!-- Banner End -->

<br>


<div align="left">
  <div class="col-md-offset-4"><%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Find food ") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %><br>
<% end %><br></div>

          <div class="col-md-offset-2">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Meat</h4>
                  <!-- Image for menu list -->
                  <%= link_to(image_tag("猪腿肉.jpg", :width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "Meat&Meat Products"}) %>
                 
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Poultry</h4>
                  <!-- Image for menu list -->
              

                  <%= link_to(image_tag("鸡脯肉.jpg",:width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "Poultry&Poultry Products"}) %>
          
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Diary</h4>
                  <!-- Image for menu list -->
                  <%= link_to(image_tag("白皮鸡蛋.jpg", :width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "Milk & Eggs"}) %>
      
                </div>
              </div>
                <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Fish</h4>
                  <!-- Image for menu list -->
                  <%= link_to(image_tag("马鲛鱼.jpg", :width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "Fish_Shelfish&Mollusc"}) %>
                 
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Oil</h4>
                  <!-- Image for menu list -->
              

                  <%= link_to(image_tag("葵花籽油.jpg",:width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "Seed_Fat&Oils"}) %>
          
                </div>
              </div>

            </div><br>
              <div class="row">
              <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Condiment</h4>
                  <!-- Image for menu list -->
                  <%= link_to(image_tag("盐.jpg", :width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "Condiments"}) %>
      
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Cereal</h4>
                  <!-- Image for menu list -->
                  <%= link_to(image_tag("小米.jpg", :width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "Cereal&Cereal Products"}) %>
      
                </div>
              </div>
                <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Starch</h4>
                  <!-- Image for menu list -->
                  <%= link_to(image_tag("土豆.jpg", :width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "Tubers_Starches&Products"}) %>
                 
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Root Vegatable</h4>
                  <!-- Image for menu list -->
              

                  <%= link_to(image_tag("胡萝卜.jpg",:width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "root vegetables"}) %>
          
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Legume</h4>
                  <!-- Image for menu list -->
              

                  <%= link_to(image_tag("荷兰豆.jpg",:width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "leguminous vegetables_Legume products"}) %>
          
                </div>
              </div>

              </div><br>    

               <div class="row">
              <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Fruit Vegatable</h4>
                  <!-- Image for menu list -->
                  <%= link_to(image_tag("番茄.jpg", :width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "solanaceous_melon&fruit vegetables"}) %>
      
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Flower Vegatable</h4>
                  <!-- Image for menu list -->
                  <%= link_to(image_tag("西兰花.jpg", :width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "leafy_flower vegetables"}) %>
      
                </div>
              </div>
                <div class="col-md-3 col-sm-3">
                <!-- Inner page menu list -->
                <div class="menu-list">
                  <!-- Menu item heading -->
                  <h4>Aquatic Vegatable</h4>
                  <!-- Image for menu list -->
                  <%= link_to(image_tag("莲藕.jpg", :width => 120, :height => 100), {:controller => "foods", :action => "getfooddata", :Food => "aquatic_tuber vegetable"}) %>
                 
                </div>
              </div>
             
              </div>
                  
                </div>
              </div>
            </div>

         
      </div>
     </div>
    </div>  
   </div> 
    <br />
    
</div></div>








<br>

<%
=begin %>
<div class="container col-md-offset-1"><div class="showcase">

          <div class="container">
            <div class="row">
              <div class="col-md-10 col-sm-10 ">
                <!-- Showcase section item -->
                <div class="showcase-item">
                  <!-- Image -->
                  <img class="img-responsive" src="http://globalpetfoodshrm.ca/images/uploads/dog112.png" alt="" />
                  <!-- Heading -->
                  <h3><a href="#">Import Food</a></h3>
                  <!-- Paragraph -->
                  <div class="col-md-offset-6"><a href="http://localhost:3000/foods/new" class="btn btn-danger" type="button">Add new foods(admin)</a><br>
                  <br>
                  <%= submit_tag "Upload foods",:class=>"btn btn-danger",:type=>"button" %>
                  <br>
                  <%= form_tag import_foods_path, multipart: true do  %>
  <%= file_field_tag :file %><br>
<% end %></div></div>
                  
                  <br>
                  <div class="clearfix"></div>
                </div>
              </div></div></div></div>
<%
=end %>




            </div>
              <br><br><br><br><br>




<h1 align="center">Recipe you're creating</h1>

<%= form_tag '/create_multiple' do %>
<div class="table-responsive col-md-offset-1 col-md-10">
    <table class="table table-bordered">
      <thead>
        <tr>
          
          <th>foodname</th>
          <th>weight (g)</th>
          <th><div align="center">edit weight (g) </div></th>

          <th colspan="2"></th>
        </tr>
      </thead>
            
      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
          
            <td><%= recipe.foodname  %></td>
            <td><%= recipe.weight    %> g </td>
            <td><div align="center"><%= text_field_tag "recipes[][weight]" %>
            <%= hidden_field_tag "name[][name]", recipe.foodname %></div>
            </td>
            
            <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>



  <div align="center">
           <p><%= label_tag(:q, "Select Pet for Recipe:") %></p>
           
            <p><%=  collection_select("pet", "name", Pet.all, :name, :name) %></p><br>



  <%= submit_tag "Submit Recipe", :class =>"btn btn-danger"%><%end%>
  <a href="http://localhost:3000/welcome/index" class="btn btn-danger">Back to homepage</a></div>

   <%= render partial: "layouts/foot"%>

</div>




<br><br>


