<p id="notice"><%= notice %></p>

<h1>Listing Foods</h1>

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Reference price</th>
          <th>Cook method</th>
          <th>Food category</th>
          <th>Img dir</th>
          <th>Food id</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.description %></td>
            <td><%= food.reference_price %></td>
            <td><%= food.cook_method %></td>
            <td><%= food.food_category %></td>
            <td><%= food.img_dir %></td>
            <td><%= food.food_id %></td>
            <td><%= link_to 'Show', food %></td>
            <td><%= link_to 'Add',  add_path(food) %></td>
            <td><%= link_to 'Edit', edit_food_path(food) %></td>
            <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>
<h3>Import Food</h3>
<%= form_tag import_foods_path, multipart: true do %>
  <%= file_field_tag :file2 %>
  <%= submit_tag "Upload foods" %>
<% end %>

<%= link_to 'New Food', new_food_path %>

<h1>Recipe you're creating</h1>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>user_id</th>
          <th>recipe_id</th>
          <th>foodname</th>
          
          <th>weight</th>

          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
            <td><%= recipe.user_id %></td>
            <td><%= recipe.recipe_id %></td>
            <td><%= recipe.foodname %></td>

            <td><%= form_for :recipe do |f| %>
                <%= f.text_field :weight %>
                <% end %>
 
            <td><%= link_to 'Submit',  recipe %></td>
            <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>