<p id="notice"><%= notice %></p>

<h1>Adding Food</h1>


<%= link_to(image_tag("猪腿肉.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "Meat&Meat Products"}) %>

<%= link_to(image_tag("鸡脯肉.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "Poultry&Poultry Products"}) %>

<%= link_to(image_tag("白皮鸡蛋.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "Milk & Eggs"}) %><br>

<%= link_to(image_tag("马鲛鱼.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "Fish_Shelfish&Mollusc"}) %>

<%= link_to(image_tag("葵花籽油.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "Seed_Fat&Oils"}) %>

<%= link_to(image_tag("food-condiments.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "Condiments"}) %><br>

<%= link_to(image_tag("Kellogg-s-cereal-products.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "Cereal&Cereal Products"}) %>

<%= link_to(image_tag("红薯.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "Tubers_Starches&Products"}) %>

<%= link_to(image_tag("胡萝卜.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "root vegetables"}) %><br>

<%= link_to(image_tag("荷兰豆.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "leguminous vegetables_Legume products"}) %>

<%= link_to(image_tag("番茄.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "solanaceous_melon&fruit vegetables"}) %>


<%= link_to(image_tag("西兰花.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "leafy_flower vegetables"}) %><br>

<%= link_to(image_tag("莲藕.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "aquatic_tuber vegetable"}) %>


<%= link_to(image_tag("u87.jpg"), {:controller => "foods",
:action => "getfooddata", :Food => "fungi&Algae"}) %>







<br>
<h3>Import Food</h3>
<%= form_tag import_foods_path, multipart: true do %>
  <%= file_field_tag :file2 %>
  <%= submit_tag "Upload foods" %>
<% end %>

<%= link_to 'New Food', new_food_path %>

<h1>Recipe you're creating</h1>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>user_id</th>
          <th>recipe_id</th>
          <th>foodname</th>
          
          <th>weight</th>

          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
            <td><%= recipe.user_id %></td>
            <td><%= recipe.recipe_id %></td>
            <td><%= recipe.foodname %></td>

            <td><%= form_for :recipe do |f| %>
                weight: <%= f.text_field :weight %><br />
                <%= f.submit%>
                <% end %>
 
            <td><%= link_to 'Submit',  recipe %></td>
            <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>