<%=render partial: "layouts/head"%>

      <!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="http://dakotapethospital.com/clients/14546/images/slideshows/29628/banner%204%20edited.jpg" alt="" />
          <!-- Heading -->
          <h2 class="white">Foods List</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Reserve Seats</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      <br>
      <!-- Banner End -->
<div class="container">
  <div class ="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr id="tr1">
              <th>Name</th>
              <th>Description</th>
              <th>Reference price</th>
              <th>Cook method</th>
              <th>Food category</th>
              <th>Img dir</th>
              <th>Food id</th>
              <th colspan="4"></th>
            </tr>
          </thead>



<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Find food ") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %><br>
<% end %>
<br>




          <tbody>
            <% @foods.each do |food| %>
              <tr>
                <td><%= food.name %></td>
                <td><%= food.description %></td>
                <td><%= food.reference_price %></td>
                <td><%= food.cook_method %></td>
                <td><%= food.food_category %></td>
                <td><%= food.img_dir %></td>
                <td><%= food.food_id %></td>
                <td><%= link_to 'Show', food %></td>
                <td><%= link_to 'Add',  add_path(food) %></td>
                <td><%= link_to 'Edit', edit_food_path(food) %></td>
                <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div align ="center"><%= will_paginate @foods %>
        <%= page_entries_info @foods, :entry_name => 'food'%> <br /></div>

      </div>
     </div>
    </div>  
   </div> 
    <br />
    
</div>



<br>

<div class="container"><div class="showcase">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-sm-10 col-md-offset-1">
                <!-- Showcase section item -->
                <div class="showcase-item">
                  <!-- Image -->
                  <img class="img-responsive" src="http://globalpetfoodshrm.ca/images/uploads/dog112.png" alt="" />
                  <!-- Heading -->
                  <h3><a href="#">Import Food</a></h3>
                  <!-- Paragraph -->
                  <div class="col-md-offset-6"><a href="http://localhost:3000/foods/new" class="btn btn-danger" type="button">Add new foods(admin)</a><br>
                  <br>
                  <%= submit_tag "Upload foods",:class=>"btn btn-danger",:type=>"button" %>
                  <br>
                  <%= form_tag import_foods_path, multipart: true do  %>
  <%= file_field_tag :file %><br>
<% end %></div></div>
                  
                  <br>
                  <div class="clearfix"></div>
                </div>
              </div></div></div></div></div>
              <br><br><br><br><br>

<div align="center"><h1>Recipe you're creating</h1><br></div>
<div class="container">
  <div class ="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              
              <th>foodname</th>
              <th>weight</th>
              <th>edit weight</th>

              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @recipes.each do |recipe| %>
              <tr>
              
                <td><%= recipe.foodname  %></td>
                <td><%= recipe.weight    %></td>
                <td><%= form_for  recipe do |f| %>
                    <%= f.text_field :weight %><br />
                    <%= f.submit nil, :class=>"btn btn-danger",:type=>"button"%>
                    <% end %>
                </td>
                <td><%= link_to 'Submit',  recipe %></td>
                <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>    
</div>
<div align="center">
<%= form_for @food, url: {action: "calculate"} do |f| %>


  <%= f.submit "Submit Recipe", :class=>"btn btn-danger",:type=>"button"%>
</div>
<% end %>
</div>
<br><br>

<%= render partial: "layouts/foot"%>
