<%=render partial: "layouts/head"%>

<!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="http://dakotapethospital.com/clients/14546/images/slideshows/29628/banner%204%20edited.jpg" alt="" />
          <!-- Heading -->
          <h2 class="white">View Search Result</h2>
          <ol class="breadcrumb">
            <li><a href="index.html"></a></li>
            <li class="active"></li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Banner End -->
<div class = "container"> 
 <div class = "row">    
  <div class="col-md-10 col-md-offset-1">
      <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr id="tr1">
                <th>Name</th>
                <th>Description</th>
                <th>Reference price</th>
                <th>Cook method</th>
                <th>Food category</th>
                <th>Img dir</th>
                <th>Food id</th>
                <th colspan="4"></th>
              </tr>
            </thead>

            <tbody>
              <% @foodresults.each do |food| %>
                <tr>
                  <td><%= food.name %></td>
                  <td><%= food.description %></td>
                  <td><%= food.reference_price %></td>
                  <td><%= food.cook_method %></td>
                  <td><%= food.food_category %></td>
                  <td><%= food.img_dir %></td>
                  <td><%= food.food_id %></td>
                  <td><%= link_to 'Show', food %></td>
                  <td><%= link_to 'Add',  add_path(food) %></td>
                  <td><%= link_to 'Edit', edit_food_path(food) %></td>
                  <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
    <br />
    <%= will_paginate @foodresults %>
    <%= page_entries_info @foodresults, :entry_name => 'food'%> <br />

</div></div></div></div>
<br><br>
<%= render partial: "layouts/foot"%>