<div class="container-fluid"><p id="notice"><%= notice %></p>


<div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Reference price</th>
          <th>Cook method</th>
          <th>Food category</th>
          <th>Img dir</th>
          <th>Food id</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= @food.name %></td>
            <td><%= @food.description %></td>
            <td><%= @food.reference_price %></td>
            <td><%= @food.cook_method %></td>
            <td><%= @food.food_category %></td>
            <td><%= @food.img_dir %></td>
            <td><%= @food.food_id %></td>
          </tr>
      </tbody>
    </table>
</div>

<div class="ctn0"><p>  </p></div>


<table class="table table-responsive">
    <thead>
      <tr>
        <% @food_nutrition.attributes.each do |attr_name| %>      
        <th><%= (attr_name)[0].to_s %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @food_nutrition.attributes.each do |attr_value| %>      
        <td><%= (attr_value)[0].to_s %></td>
        <% end %>
      </tr>
    </tbody>

</table>

  <% @food_nutrition.attributes.each do |attr_name, attr_value| %>
    <div class="food_nutrition_attribute">
     <%= attr_name %>: <%= attr_value %>
    </div>
  <% end %>


<div class="ctn0"><p>  </p></div>
<div align="center">
<%= link_to 'Edit', edit_food_path(@food),class:"btn2" %> 

<a href="http://localhost:3000/foods" class="btn2">Back</a></div></div>
</div>

