<%=render partial: "layouts/head"%>

<div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="http://www.hdwallpapers11.com/wallpapers/2560x1600/cute-white-dog-2560x1600.jpg" alt="" />
          <!-- Heading -->
          <h2 class="brown">Foods Nutrition Information</h2>
          <ol class="breadcrumb">
            <li><a href="index.html"></a></li>
            <li class="active"></li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>




<h1 align="center"><%=@food_nutrition.foodname%></h1><br>
    <div class= "container">
      <div class="row">
        <div class="table-responsive col-md-4" >
        <table  class="table table-bordered" >
          <tbody>
              <tr>
                <td><b> Edible Part </b></td>
                <td><%=@food_nutrition.edible %> % </td>
                <td><b>Energy </b></td>
                <td><%=@food_nutrition.energy %> g </td>

              </tr>
              <tr>
                <td><b>Protein </b></td>
                <td><%=@food_nutrition.protein %> g </td>
                <td><b>Fat g</b></td>
                <td><%=@food_nutrition.fat%> g </td>
                <td><b>CHO g</b></td>
                <td><%=@food_nutrition.cho %> g </td>

              </tr>
              <tr>
                <td><b>Dietary Fiber</b></td>
                <td><%=@food_nutrition.dietaryfiber %> g </td>
                <td><b>Ash</b></td>
                <td><%=@food_nutrition.ash %> g </td>

              </tr>


          </table></div>
        <div class="table-responsive col-md-4">
          <table class="table table-bordered">

            <tbody>
                <tr>
                  <td> <b>Vitamin A </b></td>
                  <td><%=@food_nutrition.vitaminA %> ug </td>
                  <td><b>Retinol </b></td>
                  <td><%=@food_nutrition.retinol %> ug </td>
               
                </tr>
                <tr>
                  
                 
                  <td><b>Vitamin C </b></td>
                  <td><%=@food_nutrition.vitaminC %> mg </td>

                </tr>
                <tr>
                  <td><b>Vitamin E </b></td>
                  <td><%=@food_nutrition.vitaminE %> mg </td>
                 

                </tr>



            </table></div>

            <div class="col-md-4">
                <table class="table-responsive table table-bordered">

            <tbody>
                <tr>
                  <td><b>Ca</b></td>
                  <td><%=@food_nutrition.calcium%> mg </td>
                  <td><b>P</b></td>
                  <td><%=@food_nutrition.phosphorous%> mg </td>
                  <td><b>K</b></td>
                  <td><%=@food_nutrition.potassium %> mg </td>
                </tr>
                <tr>
                  
                 
                  <td><b>Na</b></td>
                  <td><%=@food_nutrition.sodium%> mg </td>
                  <td><b>Mg</b></td>
                  <td><%=@food_nutrition.magnesium%> mg </td>
                  <td><b>Fe</b></td>
                  <td><%=@food_nutrition.iron%> mg </td>

                </tr>
                <tr>
                  <td><b>Zn</b></td>
                  <td><%=@food_nutrition.zinc %> mg </td>
                  <td><b>Se</b></td>
                  <td><%=@food_nutrition.selenium %>mg </td>
                  <td><b>Cu</b></td>
                  <td><%=@food_nutrition.copper %>mg </td>
                  <td><b>Mn</b></td>
                  <td><%=@food_nutrition.manganese %> mg</td>
                 

                </tr>



            </table><br><br></div></div></div>
      






<div align="center">
<a href="http://localhost:3000/foods" class="btn btn-danger">Back</a><br><br></div></div>
</div>



<%= render partial: "layouts/foot"%>

     
 









