<p id="notice"><%= notice %></p>


<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Reference price</th>
          <th>Cook method</th>
          <th>Food category</th>
          <th>Img dir</th>
          <th>Food id</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= @food.name %></td>
            <td><%= @food.description %></td>
            <td><%= @food.reference_price %></td>
            <td><%= @food.cook_method %></td>
            <td><%= @food.food_category %></td>
            <td><%= @food.img_dir %></td>
            <td><%= @food.food_id %></td>
          </tr>
      </tbody>
    </table>
</div>



<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Weight</th>

        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= @weight %></td>
          </tr>
      </tbody>
    </table>
</div>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>

