<h1>New Nutritionfacts</h1>
<%= form_for :nutritionfact, url: nutritionfacts_path do |f| %>
  <p>
    <%= f.label :foodname %><br>
    <%= f.text_field :foodname %>
  </p>
  
  <p>
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </p>

  <p>
    <%= f.label :edible %><br>
    <%= f.text_field :edible %>
  </p>
  
  <p>
    <%= f.label :energy %><br>
    <%= f.text_field :energy %>
  </p>
 
  <p>
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </p>

  <p>
    <%= f.label :fat %><br>
    <%= f.text_field :fat %>
  </p>

  <p>
    <%= f.label :cho %><br>
    <%= f.text_field :cho %>
  </p>

  <p>
    <%= f.label :dietaryfiber %><br>
    <%= f.text_field :dietaryfiber %>
  </p>

  <p>
    <%= f.label :ash %><br>
    <%= f.text_field :ash %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', nutritionfacts_path %>