<p>
  <strong>foodname:</strong>
  <%= @nutritionfact.foodname %>
</p>

<p>
  <strong>unit:</strong>
  <%= @nutritionfact.unit %>
</p>

<p>
  <strong>water:</strong>
  <%= @nutritionfact.water %>
</p>


<p>
  <strong>energy:</strong>
  <%= @nutritionfact.energy %>
</p>
 
<p>
  <strong>protein:</strong>
  <%= @nutritionfact.protein %>
</p>

<p>
  <strong>fat:</strong>
  <%= @nutritionfact.fat %>
</p>

<p>
  <strong>cho:</strong>
  <%= @nutritionfact.cho %>
</p>

<p>
  <strong>dietaryFiber:</strong>
  <%= @nutritionfact.dietaryFiber %>
</p>

<p>
  <strong>ash:</strong>
  <%= @nutritionfact.ash %>
</p>

<%= link_to 'Back', nutritionfacts_path %>