<%= form_for(@cat) do |f| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Pet %><br />
    <%= f.text_field :Pet %>
  </div>
  <div class="field">
    <%= f.label :Type %><br />
    <%= f.text_field :Type %>
  </div>
  <div class="field">
    <%= f.label :Gender %><br />
    <%= f.text_field :Gender %>
  </div>
  <div class="field">
    <%= f.label :Age %><br />
    <%= f.number_field :Age %>
  </div>
  <div class="field">
    <%= f.label :Body %><br />
    <%= f.text_field :Body %>
  </div>
  <div class="field">
    <%= f.label :Condition %><br />
    <%= f.text_field :Condition %>
  </div>
  <div class="field">
    <%= f.label :Score %><br />
    <%= f.number_field :Score %>
  </div>
  <div class="field">
    <%= f.label :Body %><br />
    <%= f.text_field :Body %>
  </div>
  <div class="field">
    <%= f.label :Weight %><br />
    <%= f.number_field :Weight %>
  </div>
  <div class="field">
    <%= f.label :Activity %><br />
    <%= f.text_field :Activity %>
  </div>
  <div class="field">
    <%= f.label :Level %><br />
    <%= f.number_field :Level %>
  </div>
  <div class="field">
    <%= f.label :Sterilization %><br />
    <%= f.text_field :Sterilization %>
  </div>
  <div class="field">
    <%= f.label :Time %><br />
    <%= f.text_field :Time %>
  </div>
  <div class="field">
    <%= f.label :Vaccination %><br />
    <%= f.text_field :Vaccination %>
  </div>
  <div class="field">
    <%= f.label :History %><br />
    <%= f.text_field :History %>
  </div>
  <div class="field">
    <%= f.label :Anthelmintic %><br />
    <%= f.text_field :Anthelmintic %>
  </div>
  <div class="field">
    <%= f.label :Time %><br />
    <%= f.text_field :Time %>
  </div>
  <div class="field">
    <%= f.label :Vitro %><br />
    <%= f.text_field :Vitro %>
  </div>
  <div class="field">
    <%= f.label :Flea %><br />
    <%= f.text_field :Flea %>
  </div>
  <div class="field">
    <%= f.label :Flooding %><br />
    <%= f.text_field :Flooding %>
  </div>
  <div class="field">
    <%= f.label :Time %><br />
    <%= f.text_field :Time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
