<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cat.name %>
</p>

<p>
  <b>Pet:</b>
  <%= @cat.Pet %>
</p>

<p>
  <b>Type:</b>
  <%= @cat.Type %>
</p>

<p>
  <b>Gender:</b>
  <%= @cat.Gender %>
</p>

<p>
  <b>Age:</b>
  <%= @cat.Age %>
</p>

<p>
  <b>Body:</b>
  <%= @cat.Body %>
</p>

<p>
  <b>Condition:</b>
  <%= @cat.Condition %>
</p>

<p>
  <b>Score:</b>
  <%= @cat.Score %>
</p>

<p>
  <b>Body:</b>
  <%= @cat.Body %>
</p>

<p>
  <b>Weight:</b>
  <%= @cat.Weight %>
</p>

<p>
  <b>Activity:</b>
  <%= @cat.Activity %>
</p>

<p>
  <b>Level:</b>
  <%= @cat.Level %>
</p>

<p>
  <b>Sterilization:</b>
  <%= @cat.Sterilization %>
</p>

<p>
  <b>Time:</b>
  <%= @cat.Time %>
</p>

<p>
  <b>Vaccination:</b>
  <%= @cat.Vaccination %>
</p>

<p>
  <b>History:</b>
  <%= @cat.History %>
</p>

<p>
  <b>Anthelmintic:</b>
  <%= @cat.Anthelmintic %>
</p>

<p>
  <b>Time:</b>
  <%= @cat.Time %>
</p>

<p>
  <b>Vitro:</b>
  <%= @cat.Vitro %>
</p>

<p>
  <b>Flea:</b>
  <%= @cat.Flea %>
</p>

<p>
  <b>Flooding:</b>
  <%= @cat.Flooding %>
</p>

<p>
  <b>Time:</b>
  <%= @cat.Time %>
</p>


<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
