<p>
  <strong>name:</strong>
  <%= @food.name %>
</p>
 
<p>
  <strong>description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>referencePrice:</strong>
  <%= @food.referencePrice %>
</p>

<p>
  <strong>ediblePercentage:</strong>
  <%= @food.ediblePercentage %>
</p>

<p>
  <strong>cookMethod:</strong>
  <%= @food.cookMethod %>
</p>

<p>
  <strong>foodCategory:</strong>
  <%= @food.foodCategory %>
</p>

<%= link_to 'Back', foods_path %>