<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe.recipe_id %>
</p>

<p>
  <strong>Foodname:</strong>
  <%= @recipe.foodname %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @recipe.weight %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
