<div class="container-fluid"><p id="notice"><%= notice %></p>
<div style="width:60px" class='col-md-1 col-md-offset-4' id="ctn2">
<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe.recipe_id %>
</p>

<p>
  <strong>Foodname:</strong>
  <%= @recipe.foodname %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @recipe.weight %>
</p>
<div align="center">
<%= link_to 'Edit', edit_recipe_path(@recipe),class:"btn2" %> </div>
<div class="ctn0"><p>  </p></div>
<a href="http://localhost:3000/foods" class="btn2">Back</a>

<div>
</div></div>
