<div class='container-fluid'><h1>Editing pet</h1>
 
<%= form_for :pet, url: pet_path(@pet), method: :patch do |f| %>
 
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pet.errors.count, "error") %> prohibited
        this pet from being saved:
      </h2>
      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div style="width:60px" class='col-md-1 col-md-offset-4' id="ctn2">
  <p>
    <%= f.label :gender %><br>
    <select name="gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    
</select>
  </p>

  <p>
    <%= f.label "age in years" %><br>
    <%= f.text_field :age %>
  </p>

<p>
 </p>

  <p>
    <%= f.label "age in months" %><br>
    <%= f.text_field :age %>
  </p>

<p>
   <%= f.label "Pet Type" %><br>
<%= 
  f.select :pet_type,options_for_select([["Cat", "Cat"], ['Dog',"Dog"]]),{:include_blank=>true}, :id=>"first_select", 
      :'data-remote' => 'true', # important for UJS
      :'data-url' => url_for(:controller => 'pets', :action => 'getdata'), # we get the data from here!
      :'data-type' => 'json' # tell jQuery to parse the response as JSON!
%>
</p>
<%= f.label :Breed %><br>
<%= 
  f.select :breed,"<option>Please select something from first select!</option>",{},:id=>"second_select"
%> 

  <p>
    <%= f.label :body_condition_score %><br>
    <%= f.text_field :body_condition_score %>
  </p>

  <p>
    <%= f.label :weight %><br>
    <%= f.text_field :body_weight %>
  </p>

  <p>
    <%= f.label :activity_level %><br>
    <select name="activity_level">
    <option value="indoor">Indoor</option>
    <option value="outdoor">Outdoor</option>
    </select>
  </p>

  <p>
    <%= f.submit nil, :class => 'btn2'%>
  </p>
 
<% end %>
 
<a href="http://localhost:3000/pets" class="btn2">Back</a></div></div>
