<%=render partial: "layouts/head"%>
<!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="img/crown-white.png" alt="" />
          <!-- Heading -->
          <h2 class="white">Edit pets</h2>
          <ol class="breadcrumb">
            <li><a href="index.html"></a></li>
            <li class="active"></li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Banner End -->
 <!-- Booking Start -->
        
        <div class="booking">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <!-- Heading -->
                <h3>Edit pets</h3>
                <!-- Paragraph -->
                <p>Loren gypsum dolour sit amet, conjecture listing elite, sed do eiusmod tempor incident ut laboured et magna onjecture listing elite, sed do eiusmod tempo aliqua.</p>
                <!-- Image Slider -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img class="img-responsive" src="http://freedwallpaper.com/wp-content/uploads/2014/11/cat-wallpapers-for-desktop-2-1366x768-770958.jpg" alt="" />
                    </div>
                    <div class="item">
                      <img class="http://freedwallpaper.com/wp-content/uploads/2014/11/cat-wallpapers-for-desktop-2-1366x768-770958.jpg" alt="" />
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="img/booking/table3.jpg" alt="" />
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-chevron-right"></span>
                  </a>
                </div>
              </div>
              <div class="col-md-5">
                <!-- Booking form area -->
                <div class="booking-form">
                  <!-- Heading -->
                  <h3>Edit pets</h3>
                  <!-- Paragraph -->
                  <p>Loren gypsum dolour sit amet, conjecture listing elite, sed do eiusmod tempor incident ut laboured et magna aliqua.</p>
                  <!-- Booking form -->
                  <%= form_for :pet, url: pet_path(@pet), method: :patch do |f| %>
 
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pet.errors.count, "error") %> prohibited
        this pet from being saved:
      </h2>
      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div >
  <p>
    <%= f.label :gender %><br>
    <select name="gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    
</select>
  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>

<p>
   <%= f.label "Pet Type" %><br>
<%= 
  f.select :pet_type,options_for_select([["Cat", "Cat"], ['Dog',"Dog"]]),{:include_blank=>true}, :id=>"first_select", 
      :'data-remote' => 'true', # important for UJS
      :'data-url' => url_for(:controller => 'pets', :action => 'getdata'), # we get the data from here!
      :'data-type' => 'json' # tell jQuery to parse the response as JSON!
%>
</p>
<%= f.label :Breed %><br>
<%= 
  f.select :breed,"<option>Please select something from first select!</option>",{},:id=>"second_select"
%> 

  <p>
    <%= f.label :body_condition_score %><br>
    <%= f.text_field :body_condition_score %>
  </p>

  <p>
    <%= f.label :weight %><br>
    <%= f.text_field :body_weight %>
  </p>

  <p>
    <%= f.label :activity_level %><br>
    <select name="activity_level">
    <option value="indoor">Indoor</option>
    <option value="outdoor">Outdoor</option>
    </select>
  </p>
  <br>
  <p>
    <%= f.submit nil, :class=>"btn btn-danger", :type=>"button"%>
  </p>
 
<% end %>
<br>
<a href="http://localhost:3000/pets" class="btn btn-danger" type="button">Back</a></div></div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Booking End -->      

<%=render partial: "layouts/foot"%>