<%=render partial: "layouts/head"%>
<!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="http://dakotapethospital.com/clients/14546/images/slideshows/29628/banner%204%20edited.jpg" alt="" />
          <!-- Heading -->
          <h2 class="white">View Pets</h2>
          <ol class="breadcrumb">
            <li><a href="index.html"></a></li>
            <li class="active"></li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Banner End -->
 <div class = "container"> 
 <div class = "row">    
  <div class="col-md-10 col-md-offset-1">
    <div class ="table-responsive"><table class="table table-bordered">
    
  <tr>
      <th style ="text-align:center">Name&nbsp</th>
      <th style ="text-align:center">&nbspAge in years&nbsp</th> 
      <th style ="text-align:center">&nbspAge in months &nbsp</th> 
      <th style ="text-align:center">&nbspGender&nbsp</th>
      <th style ="text-align:center">&nbspPet_Type&nbsp</th>
      <th style ="text-align:center">&nbspBreed&nbsp</th>
      <th style ="text-align:center">&nbspBody_Condition_Score&nbsp</th>
      <th style ="text-align:center">&nbspWeight&nbsp</th>
      <th style ="text-align:center">&nbspActivity_Level&nbsp</th>
      <th colspan="3"></th>
    </tr>
   
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %>&nbsp<br></td>
        <td>&nbsp<%= pet.age %>&nbsp</td>
 	<td>&nbsp<%= pet.months %>&nbsp</td>
        <td>&nbsp<%= pet.gender %>&nbsp</td>
        <td>&nbsp<%= pet.pet_type %>&nbsp</td>
        <td>&nbsp<%= pet.breed %>&nbsp</td>
        <td>&nbsp<%= pet.body_condition_score %>&nbsp</td>
        <td>&nbsp<%= pet.body_weight %>&nbsp</td>
        <td>&nbsp<%= pet.activity %>&nbsp</td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>

    <% end %>
  </table></div></div>
<div class="col-md-12" align="center">
<a href="http://localhost:3000/foods" class="btn btn-danger" type="button">Select food for pets</a>
<a href="http://localhost:3000/pets/new" class="btn btn-danger" type="button">Add new pets</a>
<a href="http://localhost:3000/welcome/index" class="btn btn-danger" type="button">Back to welcome page</a><br></div></div>
</div>

<%=render partial:"layouts/foot"%>
=======
<div align="center"><a href="http://localhost:3000/welcome/index" class="btn2">Back to welcome page</a></div>
</div>

<h3>Import Cat breeds</h3>
<div align="center"><%= form_tag import_idealcatweights_path, multipart: true do  %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Cat Breeds",:class => 'btn2' %>
<% end %></div>
<h3>Import Dog breeds</h3>
<div align="center"><%= form_tag import_idealdogweights_path, multipart: true do  %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Dog Breeds",:class => 'btn2' %>
<% end %></div>

>>>>>>> 0b360384bc11d89b9706fc1212962840c553f3c5
