<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>
 
<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Pet Type:</strong>
  <%= @pet.pet_type %>
</p>

<p>
  <strong>Body Condition Score:</strong>
  <%= @pet.body_condition_score %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pet.weight %>
</p>

<p>
  <strong>Sterilization Time:</strong>
  <%= @pet.sterilization_time %>
</p>


<p>
  <strong>Vaccination History:</strong>
  <%= @pet.vaccination_history %>
</p>

<p>
  <strong>Vivo Anthelmintic Time:</strong>
  <%= @pet.vivo_anthelmintic_time %>
</p>

<p>
  <strong>Vitro Flea Flooding Time:</strong>
  <%= @pet.vitro_flea_flooding_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>



